:root {
  --wishlist_text: #0b1613;
  --scheme-7_btn_bg_dark: #000072;
  --scheme-3_btn_bg_dark: #000000;
  --base_fz: calc(1.0 * 1.4rem);
  --black_static: #000000;
  --quaternary_text: hsl(0, 0%, 100%);
  --scheme-1_title_solid: #000000;
  --custom_top_nav_fz_sub: 1em;
  --dynamic_buy_btn_bg_dark: #000000;
  --alert_valid: #4acb95;
  --btn_ff: ;
  --sale_label_fz: 12px;
  --base_fz_scale: 1.0;
  --buy_btn_bg: #4acb95;
  --scheme-4_primary_btn_fg: #000000;
  --scheme-2_bg_var: #080f0d;
  --scheme-6_bd: #fafafa;
  --custom_bd: #ecedec;
  --size_48: 48px;
  --justify_content: flex-start;
  --scheme-2_input_fg: #0b1613;
  --scheme-1_tertiary_btn_fg: #ffffff;
  --scheme-3_accent_gradient: #f0702c;
  --scheme-3_primary_btn_bg: #0b1613;
  --cookie_h: 0px;
  --scheme-3_bg: #fafafa;
  --scheme-5_secondary_btn_fg: #ffffff;
  --coal_rgba: 51, 51, 51;
  --custom_input_fg: #0b1613;
  --custom_top_nav_fg: #0b1613;
  --scheme-5_btn_bg_dark: #ededed;
  --scheme-6_btn_fg: #000000;
  --youtube: #FF0000;
  --custom_top_search_pl: #1c3830;
  --theme_bg_gradient: linear-gradient(135deg, #E84A93 20%, #FBC34A 100%);
  --custom_top_nav_fw: 400;
  --scheme-4_bg_secondary: #f4f4f4;
  --scheme-6_primary_btn_bg_dark: #ededed;
  --scheme-3_input_bg: #ffffff;
  --scheme-6_bg: linear-gradient(127deg, rgba(242, 247, 249, 1) 11%, rgba(233, 241, 244, 1) 81%);
  --scheme-3_primary_btn_fg: #ffffff;
  --price_fz: calc(1.0 * 1.4rem);
  --custom_top_main_link_text: #000000;
  --buy_btn_bg_dark: #38c389;
  --main_tt_h: none;
  --primary_text_brightness: 0;
  --scheme-8_bg_var: #ef6a22;
  --primary_btn_text: #ffffff;
  --custom_footer_link_bg: #000096;
  --scheme-2_secondary_btn_bg_dark: #fae53e;
  --custom_top_nav_scrollbar_bg: #c0dfd7;
  --scheme-6_fg_brightness: 0;
  --scheme-4: #000096;
  --custom_alert_fg: hsl(0, 0%, 100%);
  --scheme-1_tertiary_btn_bg: #378cde;
  --scheme-1_solid: #ffffff;
  --scheme-4_bg: #000096;
  --size_22_f: 22px;
  --scheme-5_accent: #ffffff;
  --scheme-3_accent: #f0702c;
  --input_h: calc(calc(14px * 1.2) * 2 + 14px * 1.1875);
  --scheme-7_accent: #000096;
  --main_h_small: 16px;
  --size_content: 16px;
  --scheme-2_solid: #0b1613;
  --b2r: 4px;
  --scheme-1_accent_gradient: linear-gradient(320deg, rgba(232, 74, 147, 1) 4%, rgba(239, 179, 76, 1) 100%);
  --label_dist: 10px;
  --scheme-3_tertiary_btn_fg: #ffffff;
  --custom_top_nav_fz: 14px;
  --scheme-5_fg_brightness: 1;
  --b2p: 4px;
  --secondary_bg_btn_dark: #fae53e;
  --main_h5: 14px;
  --logo_h_m: 88px;
  --text_align_end: right;
  --multiply_bg_product: #fafafa;
  --pager_p: 10px;
  --secondary_text: hsl(0, 0%, 100%);
  --size_56_f: 56px;
  --lar1: auto;
  --nav_dist: min(30px, 24px);
  --btn_pv: calc(14px * 1.2);
  --scheme-2_primary_btn_bg: #ffffff;
  --size_34_f: ;
  --accent: #000096;
  --custom_input_pl: #1c3830;
  --scheme-8_title_solid: #ffffff;
  --scheme-5_title: #ffffff;
  --scheme-7_primary_btn_fg: #ffffff;
  --size_20_f: 20px;
  --size_46: 46px;
  --scheme-7_tertiary_btn_fg: #ffffff;
  --scheme-3_bd: #fafafa;
  --white: hsl(0, 0%, 100%);
  --scheme-4_fg: #ffffff;
  --tertiary_bg_dark: #82AF2E;
  --scheme-4_tertiary_btn_bg_dark: #ededed;
  --scheme-5_tertiary_btn_bg_dark: #227acf;
  --custom_top_nav_fs: ;
  --scheme-1_secondary_btn_bg: #fbea61;
  --dynamic_buy_btn_bg: #000000;
  --dots_dist: 24px;
  --scheme-7_bg: #d5f1ee;
  --wine: #eb5757;
  --scheme-4_solid: #000096;
  --scheme-2_accent: #fbea61;
  --scheme-8_bg: linear-gradient(320deg, rgba(232, 74, 147, 1) 4%, rgba(239, 179, 76, 1) 100%);
  --size_56: 56px;
  --scheme-1_accent: #f0702c;
  --box_shadow: 0 4px 4px rgba(0,0,0,.1);
  --scheme-7_input_pl: #1c3830;
  --main_mr_half: calc(calc(1.85 * calc(1.0 * 1.4rem)) * .5);
  --gallery: ;
  --quinary_bg_dark: #bb32ed;
  --scheme-7_secondary_btn_bg_dark: #fae53e;
  --size_40_f: 40px;
  --size_14: 14px;
  --custom_top_nav_bd: rgb(250, 250, 250);
  --custom_footer_link_dark: #EE4E14;
  --scheme-2_bg_secondary: #8a8a9e;
  --f8ps_fg: #0b1613;
  --scheme-8_input_pl: #1c3830;
  --scheme-7_btn_fg: #ffffff;
  --sticky_offset: 45px;
  --scheme-3_input_fg: #0b1613;
  --positive_fg: hsl(0, 0%, 100%);
  --scheme-4_primary_btn_bg_dark: #fae53e;
  --scheme-4_input_pl: #1c3830;
  --primary_text_rgb: 51, 51, 51;
  --size_32: 32px;
  --scheme-7_title: #0b1613;
  --scheme-3_secondary_btn_bg: #f0702c;
  --scheme-8_fg_brightness: 1;
  --scheme-6_accent_gradient: #000096;
  --custom_top_nav_bg: #ffffff;
  --scheme-6_secondary_btn_fg: #000000;
  --scheme-5_primary_btn_bg_dark: #ededed;
  --header_outer_height: 119px;
  --size_30_f: 30px;
  --scheme-4_title: #ffffff;
  --size_12: 12px;
  --drop_nav_mah_fixed: 781px;
  --price_fs: normal;
  --price_lh: calc(1.85 * .5 + 1.15 * .5);
  --mr_sect_m: 30px;
  --scheme-8_fg: #ffffff;
  --custom_drop_nav_fg_text: #0b1613;
  --quaternary_bg_dark: #bb32ed;
  --main_lh_hc: 1.1;
  --scheme-6_primary_btn_bg: #ffffff;
  --scheme-5_primary_btn_bg: #ffffff;
  --mob_h5: 14px;
  --pulse_footer: pulse_footer;
  --scheme-6_btn_bg: #ffffff;
  --scheme-1_btn_bg_dark: #000072;
  --scheme-7_primary_btn_bg_dark: #000072;
  --size_38_f: 38px;
  --alert_error: #e93d3d;
  --scheme-6_input_pl: #1c3830;
  --secondary_bg_btn_fade: #99ccbf;
  --content_p: 15px;
  --scheme-2_secondary_btn_fg: #000000;
  --custom_footer_fg_bottom_hover: #000096;
  --btn_bd: 1px;
  --scheme-7_fg: #0b1613;
  --custom_top_nav_ff: ;
  --scheme-8_accent: #f0702c;
  --custom_drop_nav_input_bd: #ecedec;
  --size_100: 100px;
  --size_8: 8px;
  --quinary_bg_fade: #e0acf2;
  --scheme-5_bg_secondary: #ffffff;
  --custom_drop_nav_head_fg: #0b1613;
  --scheme-4_bg_var: #00008c;
  --main_lh_l: calc(1.85 * .5 + 1.15 * .5);
  --scheme-8_tertiary_btn_bg_dark: #227acf;
  --scheme-2_accent_gradient: #fbea61;
  --scheme-6_title_solid: #0b1613;
  --scheme-8_fg_sat: #ffffff;
  --custom_top_up_h: 25px;
  --theme_bg_gradient_dark: linear-gradient(135deg, #FBC34A 20%, #E84A93 100%);
  --nav_user_h: max(calc(calc(14px * 1.2) * 2 + 14px * 1.1875), 130px);
  --ip_hor: center;
  --scheme-1_title: #000000;
  --custom_top_nav_fg_hover: #0b1613;
  --alert_error_bg: #faf0f3;
  --product_label_text_custom: ;
  --scheme-4_secondary_btn_bg_dark: #ededed;
  --scheme-8_bg_secondary: #f4f4f4;
  --f8ps_bg: #ffffff;
  --tertiary_btn_text: #ffffff;
  --link_underline_c: #000096;
  --ann_p: 14px;
  --scheme-8_btn_bg: #f0702c;
  --btn_fw: 700;
  --headings_text_solid: #000000;
  --scheme-5_bd: #fafafa;
  --scheme-5_input_pl: #1c3830;
  --btn_dist2: 16px;
  --unavailable_buy_btn_bg_dark: #d8d8d8;
  --scheme-3_solid: #fafafa;
  --main_h2: 24px;
  --buy_button_fg: #FFFFFF;
  --root_pb: 0px;
  --footer_bottom_p: 20px;
  --product_label_text: #ffffff;
  --main_fw_bold: 700;
  --main_h1: 32px;
  --scheme-6_primary_btn_fg: #000000;
  --scheme-2: #0b1613;
  --primary_text: #0b1613;
  --scheme-1_bg_dark: #ffffff;
  --mobile_nav_fz: 16px;
  --sticky_nav_mah: 855px;
  --scheme-3_title: #0b1613;
  --scheme-6_tertiary_btn_fg: #ffffff;
  --emerald: #4caf50;
  --btn_tt: none;
  --scheme-3_fg_sat: #c0dfd7;
  --sale_label_bg_dark: #cf2929;
  --overlay_opacity: .2;
  --scheme-5_accent_gradient: #ffffff;
  --sand: ;
  --size_16: 16px;
  --size_10_f: 10px;
  --size_40: 40px;
  --scheme-2_tertiary_btn_fg: #ffffff;
  --size_38: 38px;
  --nav_top_h: 34px;
  --scheme-5_secondary_btn_bg: #0b1613;
  --sale_label_text: #FFFFFF;
  --main_fw_secondary_h_strong: 700;
  --scheme-3_input_pl: #1c3830;
  --scheme-2_bg_dark: #080f0d;
  --unavailable_buy_btn_bg: #e5e5e5;
  --btn_miw: min(100%, 144px);
  --scheme-3_tertiary_btn_bg_dark: #227acf;
  --scheme-6_bg_secondary: #ffffff;
  --product_label_bg: #000096;
  --size_50: 50px;
  --porcelain: hsl(0, 0%, 98%);
  --scheme-2_primary_btn_bg_dark: #ededed;
  --primary_text_rgba: rgb(11, 22, 19);
  --scheme-6_btn_bg_dark: #ededed;
  --size_70: 70px;
  --scheme-8_secondary_btn_bg_dark: #ededed;
  --logo_h: 130px;
  --scheme-4_btn_bg_dark: #fae53e;
  --scheme-4_secondary_btn_bg: #ffffff;
  --mob_h6: 11px;
  --btn_ph: calc(18px * 1.25);
  --scheme-6_secondary_btn_bg_dark: #fae53e;
  --scheme-1: #ffffff;
  --scheme-1_secondary_btn_fg: #000000;
  --quaternary_bg_fade: #e0acf2;
  --bg_secondary: #f4f4f4;
  --scheme-2_title_solid: #ffffff;
  --size_30: 30px;
  --tertiary_bg_btn: #378cde;
  --dynamic_buy_button_bg_dark: #000000;
  --custom_footer_fg_hover: #000096;
  --scheme-1_bg: #ffffff;
  --scheme-6_input_bg: #ffffff;
  --scheme-7_secondary_btn_bg: #fbea61;
  --pinterest: #E60023;
  --size_52: 52px;
  --main_fw: 400;
  --scheme-1_bd: #ecedec;
  --twitter: #000000;
  --scheme-3_secondary_btn_fg: #ffffff;
  --main_ls_h: 0.0em;
  --linkedin: #0072b1;
  --scheme-2_tertiary_btn_bg_dark: #000072;
  --scheme-7_solid: #d5f1ee;
  --primary_bg_btn: #000096;
  --scheme-2_fg: #ffffff;
  --scheme-2_input_pl: #1c3830;
  --scheme-3_bg_dark: #f5f5f5;
  --scheme-4_accent: #f0702c;
  --main_lead: 18px;
  --coal_text: hsl(0, 0%, 100%);
  --quinary_text: hsl(0, 0%, 100%);
  --scheme-5_solid: #f0702c;
  --f8ps_h: 0px;
  --custom_footer_fg: #0b1613;
  --f8sr_dist: 30px;
  --gray: hsl(0, 0%, 58%);
  --scheme-3_fg_brightness: 0;
  --size_13: 13px;
  --dark: #1A3945;
  --primary_text_h: #000000;
  --mob_lead: 16px;
  --price_fw: 800;
  --custom_footer_bd_bottom: #ecedec;
  --price_ls: 0.0em;
  --header_height_static: 55px;
  --btn_fz_mob: 14px;
  --btn_sh_inner: inset 2px -2px 0 rgba(0,0,0,.1);
  --scheme-5_fg: #ffffff;
  --tertiary_text: hsl(0, 0%, 100%);
  --coal: hsl(0, 0%, 20%);
  --scheme-8_input_fg: #0b1613;
  --custom_footer_fg_bottom: #0b1613;
  --scheme-6_fg_sat: #c0dfd7;
  --mob_fz: 14px;
  --scheme-5_primary_btn_fg: #0b1613;
  --custom_drop_nav_input_fg: #0b1613;
  --main_fw_h: 800;
  --scrollbar_width: 0px;
  --size_12_f: 12px;
  --mr_menu: calc(calc(1.85 * calc(1.0 * 1.4rem)) * .55);
  --scheme-1_input_bg: #ffffff;
  --ip_ver: center;
  --scheme-2_fg_brightness: 1;
  --scheme-1_btn_fg: #ffffff;
  --tertiary_bg_btn_dark: #227acf;
  --accent_gradient: linear-gradient(135deg, #E84A93 20%, #FBC34A 100%);
  --facebook: #3c599f;
  --scheme-3_btn_fg: #ffffff;
  --scheme-6_accent: #000096;
  --tan: #FEEFEA;
  --gallery_st: hsl(0, 0%, 93%);
  --main_ff_h: "Inter", sans-serif;
  --scheme-2_btn_bg: #ffffff;
  --mr_sect: clamp(30px, 4.166666666vw, 50px);
  --scheme-7_input_fg: #0b1613;
  --mob_h3: 20px;
  --scheme-4_bg_dark: #00008c;
  --custom_top_search_fg: #0b1613;
  --size_70_f: 70px;
  --scheme-3_bg_secondary: #ffffff;
  --scheme-4_btn_bg: #fbea61;
  --mega_nav_mah_fixed: 826px;
  --size_36_f: 36px;
  --size_52_f: 52px;
  --mob_h2: 21px;
  --lime: #4acb95;
  --scheme-7_accent_gradient: #000096;
  --size_60_f: 60px;
  --pulse_header: pulse_header;
  --product_label_bg_dark: #00007d;
  --pine: #F4B63F;
  --tertiary_bg_fade: #abc67a;
  --scheme-1_input_pl: #1c3830;
  --main_lh_h: 1.15;
  --scheme-4_fg_brightness: 1;
  --size_16_f: 16px;
  --ghw: 1280px;
  --main_h6: 11px;
  --size_22: 22px;
  --custom_top_main_link_dark: #fae53e;
  --scheme-8: linear-gradient(320deg, rgba(232, 74, 147, 1) 4%, rgba(239, 179, 76, 1) 100%);
  --scheme-5_bg_var: #ef6a22;
  --scheme-7_bg_dark: #cdeeeb;
  --scheme-8_tertiary_btn_fg: #ffffff;
  --black: hsl(0, 0%, 0%);
  --scheme-5_bg_dark: #ef6a22;
  --footer_li_dist: 0px;
  --secondary_bg: #000096;
  --quinary_bg: #c64cf4;
  --price_color_old: #939393;
  --main_fz: calc(1.0 * 1.4rem);
  --custom_footer_bg: ;
  --scheme-5_tertiary_btn_fg: #ffffff;
  --pulse: pulse;
  --scheme-6_bg_dark: #efefef;
  --btn_dist: 16px;
  --scheme-2_bd: #fafafa;
  --scheme-4_tertiary_btn_bg: #ffffff;
  --search_w: 100%;
  --scheme-7_secondary_btn_fg: #0b1613;
  --btn_br: 25px;
  --main_fw_secondary_h: 400;
  --scheme-4_secondary_btn_fg: #0b1613;
  --custom_top_nav_bd_op: 1.0;
  --size_24_f: 24px;
  --scheme-2_secondary_btn_bg: #fbea61;
  --mob_h1: 28px;
  --scheme-6_fg: #0b1613;
  --primary_bd: rgba(0,0,0,0);
  --scheme-5_btn_bg: #ffffff;
  --light: #f4f4f4;
  --mega_nav_mah: 75vh;
  --scheme-4_bd: #fafafa;
  --size_50_f: 50px;
  --positive_bg_dark: #38c389;
  --btn_lh: 1.1875;
  --scheme-5_secondary_btn_bg_dark: #000000;
  --scheme-2_btn_bg_dark: #ededed;
  --scheme-5_input_bg: #ffffff;
  --l0ra: 0px;
  --size_48_f: 48px;
  --size_24: 24px;
  --pulse_custom: pulse_custom;
  --scheme-2_fg_sat: #ffffff;
  --scheme-7_bg_var: #cdeeeb;
  --pulse_classic: pulse_classic;
  --sky: #88c2ff;
  --main_mr_h: calc(calc(1.85 * calc(1.0 * 1.4rem)) * .4615384615);
  --mob_h4: 19px;
  --unavailable_buy_btn_text: #ffffff;
  --l1ra: 100%;
  --scheme-6_bg_var: #efefef;
  --blush: #eeb8c9;
  --scheme-3: #fafafa;
  --scheme-5_fg_sat: #ffffff;
  --header_mih: 55px;
  --scheme-8_bd: #fafafa;
  --size_32_f: 32px;
  --turquoise: #48cfad;
  --custom_top_main_sh: 0 9px 32px rgba(0,0,0,0.07);
  --size_10: 10px;
  --pager_w: 75px;
  --main_ff: "Inter", sans-serif;
  --whatsapp: #08b074;
  --main_lh: 1.85;
  --size_18: 18px;
  --scheme-5_bg: #f0702c;
  --scheme-3_bg_var: #f5f5f5;
  --main_fw_strong: 700;
  --rpn: -30px;
  --custom_top_up_fg: #0b1613;
  --scheme-4_title_solid: #ffffff;
  --custom_drop_nav_bg: #ffffff;
  --placeholder_fz: calc(1.0 * 1.4rem);
  --breadcrumbs_fz: 13px;
  --scheme-4_fg_sat: #ffffff;
  --custom_top_nav_h: 45px;
  --scheme-7_fg_brightness: 0;
  --scheme-5_tertiary_btn_bg: #378cde;
  --mob_h_small: 13px;
  --base_fz_small: calc(1.0 * 1.4rem - 0.2rem);
  --btn_fz: 14px;
  --scheme-6_tertiary_btn_bg: #0b1613;
  --scheme-2_input_bg: #ffffff;
  --header_mih_c: 55px;
  --main_fz_scale: 1.0;
  --size_13_f: 13px;
  --scheme-5: #f0702c;
  --scheme-7_fg_sat: #c0dfd7;
  --scheme-4_input_fg: #0b1613;
  --gray_text: #959595;
  --pulse_dark: pulse_dark;
  --amour: #faf0f3;
  --custom_drop_nav_fg: #0b1613;
  --secondary_bg_dark: #EE4E14;
  --scheme-3_primary_btn_bg_dark: #000000;
  --custom_top_search_bg: #ffffff;
  --scheme-4_tertiary_btn_fg: #0b1613;
  --scheme-1_primary_btn_bg: #000096;
  --secondary_bg_fade: #F2A88D;
  --main_mr: calc(1.85 * calc(1.0 * 1.4rem));
  --scheme-1_secondary_btn_bg_dark: #fae53e;
  --scheme-7_btn_bg: #000096;
  --custom_alert_bg: #000096;
  --scheme-7_bg_secondary: #f0702c;
  --rose: #E63312;
  --scheme-7_tertiary_btn_bg: #378cde;
  --scheme-7_input_bg: #ffffff;
  --scheme-8_tertiary_btn_bg: #378cde;
  --custom_input_bg: #ffffff;
  --scheme-8_bg_dark: #ef6a22;
  --dynamic_buy_button_bg: #000000;
  --scheme-8_btn_fg: #ffffff;
  --pd_f_h: 12.5px;
  --scheme-7_title_solid: #0b1613;
  --m6bx_op: 1;
  --scheme-6_title: #0b1613;
  --headings_text: #000000;
  --size_26: 26px;
  --scheme-6_tertiary_btn_bg_dark: #000000;
  --scheme-4_primary_btn_bg: #fbea61;
  --scheme-5_title_solid: #ffffff;
  --custom_top_search_bd: #fafafa;
  --tertiary_bg: #4acb95;
  --scheme-1_bg_secondary: #f4f4f4;
  --size_26_f: 26px;
  --drop_nav_mah: 659.78125px;
  --custom_top_up_fg_hover: #000096;
  --size_46_f: 46px;
  --secondary_bg_btn: #fbea61;
  --cod: hsl(0, 0%, 13%);
  --size_14_f: 14px;
  --size_36: 36px;
  --nav_top_h_m: 0px;
  --main_fs: normal;
  --glw_boxed: 1280px;
  --ratio: 1;
  --primary_bg_btn_dark: #000072;
  --custom_top_main_link_bg: #fbea61;
  --scheme-3_btn_bg: #0b1613;
  --scheme-7_bd: #fafafa;
  --dynamic_buy_btn_text: #ffffff;
  --size_100_f: 100px;
  --scheme-2_btn_fg: #0b1613;
  --product_label_bg_custom: ;
  --main_fz_small: calc(calc(1.0 * 1.4rem) * .8571428571);
  --scheme-1_tertiary_btn_bg_dark: #227acf;
  --scheme-4_btn_fg: #000000;
  --scheme-1_fg_brightness: 0;
  --dynamic_buy_button_fg: #ffffff;
  --btn_fs: normal;
  --scheme-1_bg_var: #ffffff;
  --main_tt: none;
  --scheme-5_btn_fg: #0b1613;
  --custom_drop_nav_input_pl: #0b1613;
  --text_align_start: left;
  --main_ls: 0.0em;
  --custom_footer_link_text: hsl(0, 0%, 100%);
  --main_fs_h: normal;
  --scheme-8_primary_btn_fg: #ffffff;
  --rpp: 30px;
  --buy_button_bg: #4acb95;
  --scheme-3_title_solid: #0b1613;
  --header_mih_m: 45px;
  --scheme-1_fg: #0b1613;
  --custom_drop_nav_bd: #ecedec;
  --scheme-1_primary_btn_fg: #ffffff;
  --buy_btn_text: #FFFFFF;
  --custom_top_main_fg: #ffffff;
  --custom_top_search_h: clamp(calc(calc(1.0 * 1.4rem) + 20px), 50px, calc(55px - 5px));
  --scheme-3_tertiary_btn_bg: #378cde;
  --scheme-2_bg: #0b1613;
  --scheme-4_accent_gradient: #f0702c;
  --scheme-6: linear-gradient(127deg, rgba(242, 247, 249, 1) 11%, rgba(233, 241, 244, 1) 81%);
  --custom_top_search_bg_cont: #f4f4f4;
  --custom_top_main_bg: #000096;
  --size_20: 20px;
  --glw: 10000px;
  --main_h4: 18px;
  --secondary_btn_text: #000000;
  --size_60: 60px;
  --buy_button_bg_dark: #38c389;
  --scheme-1_fg_sat: #c0dfd7;
  --size_28: 28px;
  --scheme-7_primary_btn_bg: #000096;
  --scheme-8_accent_gradient: #f0702c;
  --scheme-4_input_bg: #ffffff;
  --scheme-8_btn_bg_dark: #e85b10;
  --size_8_f: 8px;
  --positive_bg: #4acb95;
  --scheme-8_solid: #f0702c;
  --scheme-8_secondary_btn_fg: #0b1613;
  --scheme-1_input_fg: #0b1613;
  --btn_circle_size: calc(calc(14px * 1.2) * 2 + 14px * 1.1875);
  --scheme-2_tertiary_btn_bg: #000096;
  --price_ff: "Inter", sans-serif;
  --custom_drop_nav_input_bg: #ffffff;
  --custom_top_nav_ls: 0.0em;
  --scheme-1_primary_btn_bg_dark: #000072;
  --btn_sh_inner_c: rgba(0,0,0,.1);
  --scheme-3_secondary_btn_bg_dark: #e85b10;
  --scheme-2_title: #ffffff;
  --scheme-5_input_fg: #0b1613;
  --b2i: 4px;
  --lar0: auto;
  --custom_drop_nav_fg_hover: #000096;
  --btn_ls: normal;
  --scheme-1_btn_bg: #000096;
  --scheme-7_tertiary_btn_bg_dark: #227acf;
  --scheme-2_primary_btn_fg: #0b1613;
  --search_mob_pd: 12px;
  --primary_bg: #ffffff;
  --body_bg: #ffffff;
  --main_h3: 21px;
  --scheme-6_solid: #f4f4f4;
  --100vw: 100vw;
  --custom_input_bd: #ecedec;
  --main_fw_h_strong: 800;
  --scheme-8_primary_btn_bg: #f0702c;
  --f8pr_submit_dist: 8px;
  --size_18_f: 18px;
  --size_33: 33px;
  --price_color: #000000;
  --scheme-8_primary_btn_bg_dark: #e85b10;
  --size_28_f: 28px;
  --scheme-6_input_fg: #0b1613;
  --multiply_bg_collection: #fafafa;
  --quaternary_bg: #c64cf4;
  --alto: hsl(0, 0%, 86%);
  --scheme-7: #d5f1ee;
  --scheme-8_secondary_btn_bg: #ffffff;
  --scheme-6_secondary_btn_bg: #fbea61;
  --custom_drop_nav_head_bg: #ffffff;
  --custom_footer_bg_bottom: ;
  --scheme-8_title: #ffffff;
  --scheme-8_input_bg: #ffffff;
  --scheme-3_fg: #0b1613;
  --custom_top_up_bg: #ffffff;
  --sale_label_bg: #d83939;
}
